## Passo 1

### Realizar importações e ler nossa planilha

In [114]:
import pandas as pd
from func import send_mail

df = pd.read_excel(r'pagamentos.xlsx')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cliente             49 non-null     int64
 1   Nome                49 non-null     object
 2   Valor Pago          49 non-null     int64
 3   Valor Total Devido  49 non-null     int64
 4   Email               49 non-null     object
dtypes: int64(3), object(2)
memory usage: 2.0+ KB

## Passo 2
### Filtar os dados para trabalharmos

- Vamos dropar a coluna *Cliente* pelo fato de ser desnecessária para nosso contexto

In [115]:
df = df.drop("Cliente", axis=1)

In [116]:
df.head()

        Nome  Valor Pago  Valor Total Devido                         Email
0       José        8950                8950  email_do_cliente+1@gmail.com
1      Maria        8950                8950  email_do_cliente+2@gmail.com
2       João        8950                8950  email_do_cliente+3@gmail.com
3    Antônio        8950                8950  email_do_cliente+4@gmail.com
4  Francisco        8950                8950  email_do_cliente+5@gmail.com

- Percebemos que temos clientes que ja quitaram a divida, então vamos fazer a filtragem para obtermos apenas os clientes que ainda tem pendências financeiras

In [117]:
df = df.loc[df["Valor Total Devido"] > df['Valor Pago']]

df

        Nome  Valor Pago  Valor Total Devido                          Email
6      Paulo        8341                8950   email_do_cliente+7@gmail.com
7      Pedro        2763                8950   email_do_cliente+8@gmail.com
13    Rafael        5223                8950  email_do_cliente+14@gmail.com
27  Fernanda        5777                8950  email_do_cliente+28@gmail.com
30    Sandra        1300                8950  email_do_cliente+31@gmail.com
31    Camila        3394                8950  email_do_cliente+32@gmail.com
32    Amanda        1261                8950  email_do_cliente+33@gmail.com
35   Leticia        3673                8950  email_do_cliente+36@gmail.com
40    Amanda        2490                8950  email_do_cliente+41@gmail.com

## Passo 3
### Organizar nossa tabela

- Criei a coluna *Divida* para indetificar e guardar apenas o valor a ser cobrado

OBS: O desafio não fala nada sobre juros

In [118]:
df = df.assign(Divida=df["Valor Total Devido"] - df['Valor Pago'])\
    .sort_values('Divida', ascending=False)
    
df = df.drop(columns=['Valor Pago', 'Valor Total Devido'])

df

        Nome                          Email  Divida
32    Amanda  email_do_cliente+33@gmail.com    7689
30    Sandra  email_do_cliente+31@gmail.com    7650
40    Amanda  email_do_cliente+41@gmail.com    6460
7      Pedro   email_do_cliente+8@gmail.com    6187
31    Camila  email_do_cliente+32@gmail.com    5556
35   Leticia  email_do_cliente+36@gmail.com    5277
13    Rafael  email_do_cliente+14@gmail.com    3727
27  Fernanda  email_do_cliente+28@gmail.com    3173
6      Paulo   email_do_cliente+7@gmail.com     609

## Passo 5
### Enviado de fato os emails

- Utilizei a função `iterrows` para percorrer nosso dataframe
- A função [send_mail](./func.py) envia os emails utilizando as libs do desafio 1

In [ ]:
for i, row in df.iterrows():
    send_mail(row['Nome'], row['Divida'], row['Email'])